/*sistema de grillas*/
* {box-sizing: border-box;}
.row::after {content: ""; clear: both; display: table;}
[class*="col-"] {float: left;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*sistema de grillas*/

body{
  margin: 0;
  padding: 0;
}

.header{
  background-color: black;
  height: 25vh;
  width: 100vw;
  color: white;
  display: grid;
  justify-content: center;
  align-content: center;
}

/*menu*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border:2px solid #bbb;
  border-radius: 20px;
  margin-right: 5px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
  border-radius: 20px;
}

.active {
  background-color: #ff1100;
  border-radius: 20px;
}
/*menu*/
.ticomi{
  font-size: 4vw;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-family: "teko", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 5px 10px rgba(0, 0, 0, .8);
}

@media only screen and (max-width: 768px) {
  .ticomi{
    font-size: 6.5vw;
  }
}

.container1, .container2, .container3, .container4, .container5, .container6{
  width: 50vw;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  justify-content: center;
  align-content: center;
}

@media only screen and (max-width: 768px) {
  .container1, .container2, .container3, .container4, .container5, .container6{
    height: 25vh;
    width: 100vw;
  }
}

.container1{
  background-image: url(img/aperitivos-parallax.jpg);
}

.container2{
  background-image: url(img/bebidas-parallax.jpg);
}

.container3{
  background-image: url(img/comidas-parallax.jpg);
}

.container4{
  background-image: url(img/panaderia-parallax.jpg);
}

.container5{
  background-image: url(img/reposteria-parallax.jpg);
}
.container6{
  background-image: url(img/Tartas-parallax.jpg);
}